{% extends 'home/layout.html' %}

{% load static %}

{% block title %}最終課題 動画姿勢解析{% endblock %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'poseanalysis/css/index.css' %}", type="text/css">
{% endblock %}

{% block content %}
<div class="content">
    <p class="content_title">動画姿勢解析</p>
</div>

<h1>ファイルアップロード</h1>
<div>
    <p>画像か動画をアップロードすると、姿勢推定します</p>
</div>
{% if error_message %}
    <p id="error_message">{{ error_message|linebreaksbr }}</p>
{% endif %}
<div>
    <p id="loading_message" style="display: none;">姿勢推定を行なっています。しばらくお待ちください</p>
</div>
<div>
    <form id="poseForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="fps_rate">動画の速度倍率を設定します (0.5 〜 2)</label>
        <input type="text" name="fps_rate" value=1 id="fps_rate" />
        {{ form.as_p }}
        <button type="submit" onclick="showLoading()">姿勢推定する</button>
    </form>
</div>

{% if video_url %}
    <h3>姿勢推定結果</h3>
    <div class="image_contaienr">
        <div>
            <video src="{{ video_url }}" controls muted autoplay playinline loop type="video/mp4" width="800"></video>
        </div>
        <div>
            <a href="" class="download_btn">動画をダウンロード</a>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'poseanalysis/js/index.js' %}"></script>
{% endblock %}
