// @import 'home/static/home/scss/common';
@use '../../../../home/static/home/scss/common' as common;

.image_container {
    @include common.container;
}

.result {
    color: common.$HilightColor;
    font-size: xx-large;
    font-weight: bolder;
}