{% extends 'home/layout.html' %}
{% load static %}

{% block title %}犬の姿勢推定{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dogpose/css/index.css' %}", type="text/css">
{% endblock %}
{% block content %}
<div>
    <p>犬の姿勢推定</p>
</div>

<div>
    <h1>画像アップロード</h1>
    {% if error_message %}
        <p id='error_message'>{{ error_message }}</p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">姿勢推定する</button>
    </form>

    {% if image %}
        <div class="image_container">
            <div>
                <h1>姿勢推定画像</h1>
                <div>
                    {% load custom_filters %}
                    <img src="data:{{ image_type }};base64, {{ image }}" alt="estimate image">
                </div> 
            </div>
            <div>
                <p>各キーポイントの部位</p> 
                <table class="skeleton_table">
                    <tr><th>左前足</th><td>(0, 1, 2)</td></tr>
                    <tr><th>左後足</th><td>(3, 4, 5)</td></tr>
                    <tr><th>右前足</th><td>(6, 7, 8)</td></tr>
                    <tr><th>右後足</th><td>(9, 10, 11)</td></tr>
                    <tr><th>左耳</th><td>(14, 18)</td></tr>
                    <tr><th>右耳</th><td>(15, 19)</td></tr>
                    <tr><th>鼻</th><td>16</td></tr>
                    <tr><th>口</th><td>17</td></tr>
                </table>
            </div>
        </div>
    {% endif %}
</div> 
{% endblock %}