tmp/
media/
**/__pycache__/

Kikagaku/db.sqlite3

Kikagaku/ImageClassification/python/
Kikagaku/ImageClassification/training_img/
Kikagaku/ImageClassification/best_model_RN18.ckpt

Kikagaku/ImageTranscription/data/