Django>=4.2,<5.0
numpy==2.0.2
pandas==2.2.2
matplotlib==3.10.0
seaborn==0.13.2
scikit-learn==1.6.1
torch==2.6.0  # or torch==2.6.0+cpu
pytorch-lightning==2.5.1
torchvision==0.21.0
pillow==11.1.0
# opencv-python-headless==4.11.0.86  # GUIが不要ならheadless推奨
torchmetrics
torchaudio==2.6.0
easyocr==1.7.2
pymupdf==1.25.5
ultralytics==8.3.122
miditok==3.0.5.post1
pretty_midi==0.2.10