{% extends 'home/layout.html' %}

{% block title%}最終課題 楽曲分類{% endblock %}

{% block content %}
<div>
    <p>楽曲分類</p>
</div>
<div>
    <h1>楽曲アップロード</h1>
    {% if error_message %}
        <p id="error_message">{{ error_message }}</p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>MP3、WAV、M4Aいずれかのファイルをアップロードしてください</p>
        {{ form.as_p }}
        <button type="">アップロード</button>
    </form>

    {% if audio_url %}
        <div>
            <div>
                <p>アップロードファイル</p>
            </div>
            <div>
                <audio src="{{ audio_url }}" controls></audio>
                <p>この音楽 {{ audio_name }} は </p>
                <p>{{ pred }}% 確率で {{ class }} の音楽と思われます</p>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
