<nav class="link_nav">
    <ul>
        <li><a href="{% url 'mprediction:index' %}">Mリーグ成績予測</a></li>
        <li><a href="{% url 'mprediction:team' %}">チーム一覧</a></li>
        <li><a href="{% url 'mprediction:team_create' %}">チーム追加</a></li>
        <li><a href="{% url 'mprediction:player' %}">選手一覧</a></li>
        <li><a href="{% url 'mprediction:player_create' %}">選手追加</a></li>
        <li><a href="{% url 'mprediction:member' %}">選手情報一覧</a></li>
        <li><a href="{% url 'mprediction:member_create' %}">選手情報追加</a></li>
        <li><a href="{% url 'mprediction:season' %}">成績一覧</a></li>
        <li><a href="{% url 'mprediction:season_create' %}">成績追加</a></li>
    </ul>
</nav>