<nav class="link_nav">
    <ul>
        <li><a href="{% url 'home:index' %}">トップページ</a></li>
        <li><a href="{% url 'imageclassification:index' %}">画像分類</a></li>
        <li><a href="{% url 'imagetranscription:index' %}">文字起こし</a></li>
        <li><a href="{% url 'poseanalysis:index' %}">姿勢推定</a></li>
        <li><a href="{% url 'dogpose:index' %}">犬の姿勢推定</a></li>
        <li><a href="{% url 'musicclassification:index' %}">楽曲分類</a></li>
        <li><a href="{% url 'musicgeneration:index' %}">楽曲生成</a></li>
        <li><a href="{% url 'mprediction:index' %}">Mリーグ成績予測</a></li>
    </ul>
</nav>